@import "tailwindcss";

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
    --font-*: initial;
    --font-weight-*: initial;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --color-*: initial;

    --color-gray-50: hsl(0, 0%, 95%);
    --color-gray-100: hsl(0, 0%, 90%);
    --color-gray-200: hsl(0, 0%, 80%);
    --color-gray-300: hsl(0, 0%, 70%);
    --color-gray-400: hsl(0, 0%, 60%);
    --color-gray-500: hsl(0, 0%, 50%);
    --color-gray-600: hsl(0, 0%, 40%);
    --color-gray-700: hsl(0, 0%, 30%);
    --color-gray-800: hsl(0, 0%, 20%);
    --color-gray-900: hsl(0, 0%, 10%);

    --color-white: hsl(0, 0%, 100%);
}

@layer base {
    body {
        font-family:
            "Poppins",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;

        @apply min-h-screen leading-none;
    }

    button {
        @apply cursor-pointer;
    }

    *:focus-visible {
        @apply rounded-sm outline-2 outline-offset-2 outline-gray-900;
    }
}
